#cart {
  margin: 0px;
  display: none;
  position: fixed;
  top: 50px;
  height: 95%;
  right: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(177, 103, 103);
  min-height: 50vh;
  overflow: scroll;
}
.cancel {
  position: absolute;
  cursor: pointer;
  color: rgb(37, 37, 37);
  top: 0;
  right: 0;
  margin: 20px;
  background: none;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(121, 117, 117);
  border-radius: 7px;
  padding: 5px;
}
.cart-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-row {
  font-size: 18px;
  display: flex;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-item {
  width: 45%;
}
.cart-price {
  width: 20%;
}
.cart-quantity {
  width: 35%;
}

.cart-img {
  width: 80px;
  border-radius: 8%;
  margin-right: 20px;
}

.btn-purchase {
  padding: 10px;
  background-color: #212529;
  color: white;
  margin-left:240px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px;
  border-radius: 8px;
}

.decrease{
  color: #302f2e;
  background-color: white;
  border: 1px solid #302f2e;
  border-radius: 5px;
  margin-left: 1px;
  padding: 1px 11px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.increase{
  color:#ffffff;
  background-color: #302f2e;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 30px;
  padding: 2px 11px;
  transition: background-color 0.15s;
  cursor:pointer;
  margin-bottom: 40px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.cart-items {
  overflow-y: scroll;
  max-height: 250px;
}