
  .img {
    float: left;
    margin: 20px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.p {
  font-size: 17px;
  margin: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  color: #777;
}